Repository danilouchoa/liga-crypto-notifier-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, api, infra, ci, security, config, dependencies, bot

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'README.md', 'docs/**']

tests:
  - changed-files:
      - any-glob-to-any-file: ['**/*.spec.js', '**/*.test.js']

api:
  - changed-files:
      - any-glob-to-any-file:
          ['src/routes/**', 'middlewares/**', 'src/index.js']

infra:
  - changed-files:
      - any-glob-to-any-file:
          ['scripts/**', 'generate-docs.js', '.ebextensions/**']

ci:
  - changed-files:
      - any-glob-to-any-file:
          ['.github/workflows/**', '.github/actions/**', '.husky/**']

security:
  - changed-files:
      - any-glob-to-any-file:
          [
            'middlewares/security.js',
            '**/applySecurityHeaders.js',
            '.github/workflows/zap.yml',
            'SECURITY.md',
          ]

config:
  - changed-files:
      - any-glob-to-any-file:
          ['.eslintrc', '.prettierrc', '.env.example', 'commitlint.config.js']

dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json']

bot:
  - changed-files:
      - any-glob-to-any-file:
          ['src/routes/youtube.js', 'src/routes/subscribe.js']

Potential fix for code scanning alert no. 17: Reflected cross-site scripting
  package.json
  src/routes/youtube.js
Labels: api, dependencies, bot

Potential fix for code scanning alert no. 17: Reflected cross-site scripting (#15)
  package.json
  src/routes/youtube.js
Labels: api, dependencies, bot

fix(security): substitui regex por fast-xml-parser
  src/routes/youtube.js
Labels: api, bot

fix(security): substitui regex por fast-xml-parser (#16)
  src/routes/youtube.js
Labels: api, bot

fix(pipeline): ajustando push das branchs para iniciar CI em branchs de dev
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): fix
  .github/workflows/pipeline.yml
Labels: ci

fix: adicionar fast-xml-parser como dependência de produção
  package-lock.json
  package.json
Labels: dependencies

fix(deps): move fast-xml-parser para dependencies para corrigir erro no CI (#17)
  .github/workflows/pipeline.yml
  package-lock.json
  package.json
Labels: ci, dependencies

fix(security): reforça headers HTTP para eliminar alertas ZAP (Issue #9)
  middlewares/applySecurityHeaders.js
  src/index.js
Labels: api, security

fix(security): reforça headers HTTP para eliminar alertas ZAP (Issue #9) (#18)
  middlewares/applySecurityHeaders.js
  src/index.js
Labels: api, security

docs(security): atualiza SECURITY.md com política aplicada de headers
  SECURITY.md
Labels: docs, security

docs(security): atualiza SECURITY.md com política aplicada de headers (#20)
  SECURITY.md
Labels: docs, security

docs(license): adiciona LICENSE.md e define licença MIT no package.json
  LICENSE.md
  package.json
Labels: docs, dependencies

docs(license): adiciona LICENSE.md e define licença MIT no package.json (#21)
  LICENSE.md
  package.json
Labels: docs, dependencies

ci(dependabot): melhorias no dependabot para aplicar label ready-to-merge
  .github/workflows/label-ready.yml
  .github/workflows/pipeline.yml
Labels: ci

Potential fix for code scanning alert no. 19: Expression injection in Actions
  .github/workflows/label-ready.yml
Labels: ci

Potential fix for code scanning alert no. 19: Expression injection in Actions (#22)
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/pipeline.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

fix(ci): label-readdy
  .github/workflows/label-ready.yml
Labels: ci

revert(ci): label-readdy
  .github/workflows/label-ready.yml
  .github/workflows/pipeline.yml
Labels: ci

feat(ci): label-readdy
  .github/workflows/label-ready.yml
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): testando gitflow
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): testando gitflow (#23)
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): testando gitflow (#23) (#24)
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): testando gitflow
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): testando gitflow (#25)
  .github/workflows/pipeline.yml
Labels: ci

fix(pipeline): testando gitflow
  .github/workflows/label-ready.yml
Labels: ci

fix(pipeline): testando gitflow
  .github/workflows/label-ready.yml
Labels: ci

docs(stale): ajustando arquivo de config stale
  .github/stale.yml
Labels: none

fix(security): neutraliza CWE-117 e organiza estrutura do projeto
  __tests__/server.test.js
  __tests__/youtube-callback.test.js
  __tests__/youtube-get.test.js
  __tests__/youtube-invalid-body.test.js
  __tests__/youtube-notify-error.test.js
  __tests__/youtube-post.test.js
  jest.config.js
  mv_Carterira_diario-R64.sql
  package.json
  src/routes/youtube.js
Labels: tests, api, dependencies, bot

fix(security): neutraliza CWE-117 e organiza estrutura do projeto
  .eslintrc.js
  .github/workflows/label-ready.yml
  __tests__/bots.test.js
  __tests__/docs.test.js
  __tests__/youtube-callback.test.js
  __tests__/youtube-get.test.js
  __tests__/youtube-invalid-body.test.js
  __tests__/youtube-notify-error.test.js
  __tests__/youtube-post.test.js
  generate-docs.js
  jest.config.js
  middlewares/bodyParser.js
  middlewares/errorHandler.js
  middlewares/robotsHandler.js
  mv_Carterira_diario-R64.sql
  src/index.js
  src/routes/youtube.js
Labels: tests, api, infra, ci, bot

fix(security): neutraliza CWE-117 e organiza estrutura do projeto (#26)
  .eslintrc.js
  .github/workflows/label-ready.yml
  __tests__/bots.test.js
  __tests__/docs.test.js
  __tests__/server.test.js
  __tests__/youtube-callback.test.js
  __tests__/youtube-get.test.js
  __tests__/youtube-invalid-body.test.js
  __tests__/youtube-notify-error.test.js
  __tests__/youtube-post.test.js
  generate-docs.js
  middlewares/bodyParser.js
  middlewares/errorHandler.js
  middlewares/robotsHandler.js
  package.json
  src/index.js
  src/routes/youtube.js
Labels: tests, api, infra, ci, dependencies, bot

chore(pipeline): ajustado documentação da API e pipeline para rodar SEMGREP
  .github/workflows/label-ready.yml
  .github/workflows/pipeline.yml
  src/routes/youtube.js
Labels: api, ci, bot

chore(pipeline): ajustado documentação da API e pipeline para rodar S… (#27)
  .github/workflows/label-ready.yml
  .github/workflows/pipeline.yml
  src/routes/youtube.js
Labels: api, ci, bot
